# Django Settings
SECRET_KEY=django-insecure-_4wufh_x8tvr3%_0d%!r4b_&uvlgf!nhvl--&(8+%hncxf(9tj
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# MySQL Database Settings
DB_NAME=pm_db
DB_USER=root
# パスワードに特殊文字（#など）が含まれる場合は引用符で囲んでください
# 例: DB_PASSWORD="password#123" または DB_PASSWORD='password#123'
DB_PASSWORD=your_mysql_password_here
DB_HOST=localhost
DB_PORT=3306

# Web Push Settings
WEB_PUSH_VAPID_PUBLIC_KEY=
WEB_PUSH_VAPID_PRIVATE_KEY=
WEB_PUSH_VAPID_SUBJECT=mailto:admin@example.com
